body {
  background-color: #f7fafc;
}
.header {
  background-color: #fff;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
.text-opacity {
  color: #0d6efd;
  font-size: 20px;
}
.text-opacity > span {
  color: #8cb7f5;
}
.header-wrapper {
  display: flex;
  align-items: center;
  padding: 31px 0px;
  column-gap: 11px;
  max-width: 1180px;
  margin: 0 auto;
}
.desktop-nav > a {
  color: #8b96a5;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}
.desktop-nav > a:hover {
  color: #0d6efd;
}
.desktop-nav {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.desktop-nav > p {
  font-size: 14px;
  color: #8b96a5;
  padding-top: 5px;
}
.filter-wrapper {
  border: 1px solid #dee2e7;
  padding: 12px;
  border-radius: 6px;
  background-color: #fff;
}
.filter-btns {
  display: flex;
  justify-content: right;
  column-gap: 5px;
}
.filter-btns > button {
  padding: 11px;
  border: 1px solid #dee2e7;
  border-radius: 6px;
  background-color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
.filter-btns > button:hover {
  border: 1px solid #0d6efd;
}
.active {
  border: 1px solid #0d6efd !important;
}
.main-section {
  display: grid;
  grid-template-columns: 234px 1fr;
  margin-top: 20px;
  column-gap: 40px;
}
.detail-filter {
  border-top: 1px solid #eaeaea;
}
.title {
  font-weight: bold;
}
.filter-item {
  display: flex;
  align-items: center;
  column-gap: 13px;
}
.filter-name > p {
  font-size: 16px;
  margin: 0;
}
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.products-wrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  margin: 8px auto;
  border: 1px solid #dee2e7;
  display: flex;
  column-gap: 20px;
}
.products-title > p {
  font-size: 16px;
  font-weight: 600;
}
.products-price > p {
  font-size: 20px;
  font-weight: 600;
}
.products-img > img {
  max-width: 100%;
  width: 100%;
}
.products-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.products-info {
  width: 70%;
}
.product-item-info {
  display: flex;
  column-gap: 22px;
  padding: 22px;
  border: 1px solid #dee2e7;
  border-radius: 6px;
  background-color: #fff;
}
.item-image {
  width: 33%;
  text-align: center;
  border: 1px solid #dee2e7;
  border-radius: 6px;
  padding: 16px;
}
.item-info {
  max-width: 430px;
  width: 100%;

}
.item-description{
  margin-top: 27px;
}
.btn-buy-btn > button {
 
  display: flex;
  align-items: center;
  column-gap: 5px;
  background: linear-gradient(90deg, #127fff 0%, #0067ff 100%);
  justify-content: center;
  width: 100%;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  transition: .2s;
}
.btn-buy-btn> button:hover{
  background: linear-gradient(90deg, #a8cffc 0%, #68a4fd 100%);
  border-radius: 6px;
}
.item-description{
  border-bottom: 1px solid #E0E0E0; ;
}
.item-category{
  border-bottom: 1px solid #E0E0E0;
}
.product-link > a{
  color: #0067ff;
  text-decoration: none;
  transition: .2s;
}
.product-link > a:hover{
  color: #61a0ff;
  transition: .2s;
}
.item-category,
.item-type,
.item-material,
.item-design {
  color: #505050;
}
.subtitle{
  color: #8B96A5;
  font-size: 16px;
  min-width: 75px;
}
.item-category,
.item-type,
.item-material,
.item-design{
  display: flex;
  column-gap: 65px;
  align-items: center;
}

.item-info-description {
  background-color: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
  padding: 22px;
  margin-top: 20px;
}
.item-image > img {
  width: 100%;
  max-width: 100%;
}
.mob-close{
  display: none !important;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mob-nav{
  display: none;
  padding: 16px;
  background-color: #fff;

}
.mob-nav > a{
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #111;
  text-decoration: none;
  font-weight: 600;
}
.none{
  display: none;
}

@media(max-width:762px){
  .main-section{
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .mob-filter{
    color: #0067ff !important;
  }
  .filter-item{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .products-title > p,
  .products-price > p{
    margin: 0;
  }
  .filter-btns > button{
    padding: 0 8px;
  }
  
  /* .product-link{
    display: none;
  } */
  .products-title{
    font-weight: 400 !important;
    color: #505050;
  }
  .item-info{
    max-width: 100%;
  }
  .products-description{
    display: none;
  }
  .products-wrapper{
    padding: 10px;
  }
  .products-img{
    width: 30%;
  }
  .item-image{
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
  }
  .product-item-info{
    flex-direction: column;
  }
  .filter-wrapper{
    border: none;
  }
  .filter-section{
    padding: 10px;
  }
  .detail-filter{
    border-top: none;
  }
  .desktop-nav{
    display: none;
  }
  .mob-nav{
    display: block;
  }
  .mob-close{
    display: block !important;
  }
  .header{
    display: none;
  }
}